<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>실습3</title>
    <script></script>
    <link rel="stylesheet" href="./css/lava.css" />
  </head>
  <body>
    <div class="parent">
      <div class="circle circle1">
        <div class="circle circle2">
          <div class="circle circle3">
            <div class="circle circle4">
              <div class="circle circle5">
                <div class="circle circle6">
                  <img
                    src="./img/a.png"
                    width="400px"
                    style="position: absolute; right: -150px"
                  />
                  <div class="circle circle7"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br /><br /><br />
  </body>
</html>
