<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="./lava">애벌레 보러가기</a><br /><br />
    <a href="./change">과일 보러가기</a><br /><br />
    <a href="./gugu">구구단 보러가기</a>
  </body>
</html>
