<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Signin</title>
  </head>
  <body>
    <fieldset style="width: 20vw">
      <input
        type="text"
        id="userId"
        placeholder="ID"
        style="width: 19vw"
      /><br /><br />
      <input
        type="password"
        id="userPw"
        placeholder="password"
        style="width: 19vw"
      /><br /><br />
      <button type="button" onclick="signin()">로그인</button>
    </fieldset>
    <form action="/member" method="post" name="member" hidden>
      <input type="text" name="id" />
    </form>
  </body>
  <script>
    function signin() {
      console.log('signin()')

      axios({
        method: 'POST',
        url: '/signin',
        data: {
          userId: document.querySelector('#userId').value,
          userPw: document.querySelector('#userPw').value,
        },
      }).then((res) => {
        console.log(res)
        if (res.data.result) {
          alert(`${res.data.userName}님 환영합니다!`)
          const member = document.forms['member']
          member.id.value = res.data.id
          console.log('member.id.value:', member.id.value)
          member.submit()
        }
      })
    }
  </script>
</html>
